{% extends "base.html" %}

{% block centralizar %}centered middle aligned{% endblock %}

{% block content %}
<div class="row">
    <div class="five wide column"></div>
    <div class="ui six wide column segment">
        <div class="row">
            <h2 class="ui center aligned icon header color-h-green">
                <i class="circular users icon"></i>
                Bem vindo
            </h2>
        </div>
        <div class="row">
            {% if form.errors %}
            <aside class="ui error message">
                <h3 class="header">
                    Usuário ou senha inválidos.
                </h3>
            </aside>
            {% endif %}
            {% if user.is_authenticated %}
            <div class="ui basic segment">
                <div class="ui white fluid  label">
                    <h3 class="color-h-green centered">
                        Olá {{ user.get_full_name }}!

                    </h3>
                </div>
            </div>
            <h3 class="centered">
                <a class="color-a-brown" href="#">
                {% comment %}<a class="color-a-brown" href="{% url 'estante:logout' %}">{% endcomment %}
                    <i class="sign out alternate ui icon"></i> Sair</a>
            </h3>


            {% endif %}
            {% if not user.is_authenticated %}
           {% comment %} <form class='ui form' method="POST" action="{% url 'estante:login' %}">{% endcomment %}
            <form class='ui form' method="POST" action="#">
                {% csrf_token %}
                <div class="field">
                    <label class="color-label-brown">Usuário</label>
                    <input type="text" name="username" placeholder="Digite o seu usuário" required/>
                </div>
                <div class="field">
                    <label class="color-label-brown">Senha</label>
                    <input type="password" name="password" placeholder="Digite sua senha" required/>
                </div>
                <button type='submit' class="ui submit green button fluid color-button" value='Entrar'>Entrar</button>
            </form>
            <div class="ui basic segment">
                <div class="ui white fluid  label">
                    <h4 class="color-h-green centered">
                        <i class="user icon"></i> Não tem cadastro?
                        {% comment %}<a class='color-a-brown' href="{% url 'estante:cadastro-professor' %}">{% endcomment %}
                        <a class='color-a-brown' href="#">
                            <i class="plus icon"></i>Cadastre-se</a>
                    </h4>
                </div>
            </div>
            {% endif%}
        </div>


    </div>

    <div class="five wide column"></div>
</div>
{% endblock %}